body {
  background-color: $background;

  .wrapper {
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: $background;

  @include responsive(T) {
    @include flexbox;
    
    .wrapper-box {
      width: 100%;
    }
   }
  }
}
