.gnb-wrapper {
  @include responsive(T) {
  position: relative;
  color: $white;

    .gnb-nav-list {
      @include pos-center-y;
      top: 37px;
      @include flexbox;
      font-size: 22px;
      font-weight: 700;
      z-index: $nav-list;

      .gnb-nav-item {
        a {
          display: block;
          padding: 15px;
          transition: transform 200ms ease-in-out, color 200ms ease-in-out;

          &:hover,
          &:focus {
            transform: scale(1.1);
            color: $border;
          }

          &:active {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

