* {
  font-family: 'Montserrat', sans-serif !important;
}

@font-face {
  font-family: 'imagine';
  src: url("./assets/fonts/imagine.eot");
  src: url("./assets/fonts/imagine.eot#iefix") format("embedded-opentype"), url("./assets/fonts/imagine.ttf") format("truetype"), url("./assets/fonts/imagine.woff") format("woff"), url("./assets/fonts/imagine.svg#imagine") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #3c3b3c;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .md-only {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .md-only {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .lg-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .md-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .md-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .lg-hidden {
    display: none !important;
  }
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'imagine' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-close:before {
  content: "\e900";
}

.ic-menu:before {
  content: "\e901";
}

body {
  background-color: #fff7e1;
}

body .wrapper {
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: #fff7e1;
}

@media screen and (min-width: 768px) {
  body .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .wrapper .wrapper-box {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .gnb-wrapper {
    position: relative;
  }
  .gnb-wrapper .gnb-nav-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    z-index: 100;
  }
  .gnb-wrapper .gnb-nav-list .gnb-nav-item a {
    display: block;
    padding: 15px;
    transition: transform 200ms ease-in-out;
  }
  .gnb-wrapper .gnb-nav-list .gnb-nav-item a:hover, .gnb-wrapper .gnb-nav-list .gnb-nav-item a:focus {
    transform: scale(1.1);
    color: #171818;
  }
  .gnb-wrapper .gnb-nav-list .gnb-nav-item a:active {
    opacity: 0.5;
  }
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.info-section-text {
  display: inline-block;
  margin-top: 20px;
  padding: 30px 50px;
  flex-shrink: 0;
  border: 5px solid #000;
  border-radius: 10px;
  background-color: #fff;
  z-index: 90;
}

.info-section-text h1 {
  position: relative;
  font-size: 36px;
  font-weight: 800;
}

.info-section-text .bottom-line::before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: -20px;
  width: 30px;
  height: 4px;
  background: #000;
}

.info-section-text .info-intro {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-top: 40px;
}

.info-section-text .info-date {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  font-weight: 500;
  margin-top: 20px;
}

.info-section-text .info-link {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .info-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
  }
  .info-section-text {
    margin-top: -20px;
  }
}

.info-section-img-emoji img {
  width: 350px;
}

@media screen and (min-width: 768px) {
  .info-section-img {
    position: relative;
    height: 500px;
    flex-grow: 1;
    margin-left: -60px;
    padding: 50px;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #fff;
    z-index: 80;
    background-image: url(/assets/images/info-bgc.png);
    background-size: contain;
    background-color: #000;
    background-repeat: no-repeat;
  }
  .info-section-img-hello.left {
    position: absolute;
    top: 220px;
    left: 150px;
    animation-name: sayhello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    font-size: 60px;
  }
  .info-section-img-hello.right {
    position: absolute;
    top: 220px;
    right: 160px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    font-size: 60px;
  }
  .info-section-img-hello.right span {
    animation-name: sayhello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  @keyframes sayhello {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .info-section-img-emoji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}

.global-footer {
  position: relative;
}

.global-footer .contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.global-footer .contact-list-title {
  margin-right: 20px;
}

.global-footer .contact-list-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.global-footer .contact-list-item a {
  display: block;
  padding: 10px;
  transition: opacity 200ms ease-in-out, font-weight 200ms ease-in-out;
}

.global-footer .contact-list-item a:active {
  opacity: .6;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .global-footer .contact-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: -97px;
    margin-top: 50px;
  }
  .global-footer .contact-list-item a {
    transition: transform 200ms ease-in-out;
  }
  .global-footer .contact-list-item a:hover {
    transform: scale(1.1);
    font-weight: 600;
  }
}

.sidebar {
  z-index: 120;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 32px 20px;
  background-color: #fff7e1;
  border: 4px solid #000;
  border-radius: 0 20px 20px 0;
  transform: translate3d(-240px, 0, 0);
  transition: transform 300ms ease-in-out;
  overscroll-behavior: contain;
}

.sidebar::-webkit-scrollbar {
  display: none !important;
}

.sidebar.is-active {
  transform: translate3d(0, 0, 0);
}

.sidebar-header {
  padding: 0 12px;
}

.sidebar-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-header .logo a {
  display: block;
}

.sidebar-header .logo img {
  display: block;
  width: 100px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.sidebar-nav {
  margin-top: 20px;
  text-align: center;
}

.sidebar-nav-item {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  font-weight: 700;
  margin-top: 10px;
}

.sidebar-nav-item a {
  transition: transform 200ms ease-in-out;
}

.sidebar-nav-item a:active {
  opacity: .6;
}

.gnb-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 10px;
  transition: color 200ms ease-in-out;
}

.gnb-icon-button.is-menu {
  color: #000;
}

.gnb-icon-button.is-menu:active {
  color: #6c6c6c;
}

.about-main {
  padding: 20px;
}

.about-main-section {
  color: #3c3b3c;
  border: 1px solid #d1d2d2;
  border-radius: 10px;
  background-color: #f3f5f4;
}

.about-main-section .about-btn {
  height: 30px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #d1d2d2;
  background-color: #fff;
}

.about-main-section .about-btn-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-main-section .about-btn-item {
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
}

.about-main-section .about-btn-item.red {
  margin-left: 10px;
  background-color: #e0504a;
}

.about-main-section .about-btn-item.yellow {
  background-color: #eeb038;
}

.about-main-section .about-btn-item.green {
  background-color: #5abc3c;
}

.container {
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
}

.container [class^='col-'] {
  padding: 0 10px;
}

.container .col-sm-1 {
  width: 25%;
}

.container .col-sm-2 {
  width: 50%;
}

.container .col-sm-3 {
  width: 75%;
}

.container .col-sm-4 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1020px;
    padding: 0 30px;
  }
  .container .col-md-1 {
    width: 8.33333%;
  }
  .container .col-md-2 {
    width: 16.66667%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-4 {
    width: 33.33333%;
  }
  .container .col-md-5 {
    width: 41.66667%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-7 {
    width: 58.33333%;
  }
  .container .col-md-8 {
    width: 66.66667%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-10 {
    width: 83.33333%;
  }
  .container .col-md-11 {
    width: 91.66667%;
  }
  .container .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
  .container .col-lg-1 {
    width: 95px;
  }
  .container .col-lg-2 {
    width: 190px;
  }
  .container .col-lg-3 {
    width: 285px;
  }
  .container .col-lg-4 {
    width: 380px;
  }
  .container .col-lg-5 {
    width: 475px;
  }
  .container .col-lg-6 {
    width: 570px;
  }
  .container .col-lg-7 {
    width: 665px;
  }
  .container .col-lg-8 {
    width: 760px;
  }
  .container .col-lg-9 {
    width: 855px;
  }
  .container .col-lg-10 {
    width: 950px;
  }
  .container .col-lg-11 {
    width: 1045px;
  }
  .container .col-lg-12 {
    width: 1140px;
  }
}

.overlay.is-active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
