.about-gnb-list {
  color: $white;

  @include responsive(T) {
    @include flexbox(start);
    font-size: 22px;
    font-weight: 700;

    .about-gnb-item {
      a {
        display: block;
        padding: 15px;
        transition: transform 200ms ease-in-out, color 200ms ease-in-out;

        &:hover,
        &:focus {
          transform: scale(1.1);
          color: $border;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}
