$black: #000;
$dark: #171717;
$primary: #383838;
$secondary: #6c6c6c;
$border: #707070;
$about-bg: #f3f5f4;
$background: #282827;
$white: #fff;

$red: #f74544;
$yellow: #faad15;
$green: #37c027;

$about-text: #41b983;
$about-text-brigt: #51eaa5;
